<div class="m-i18n--marketing">
  <div class="m-i18n--marketing-header">
    <h1>Localization</h1>
    <h3>Contribute to Minds i18n</h3>

    <div class="m-i18n--marketing-action-button">
        <button class="mdl-button mdl-button--colored mdl-color--green" >Contribute</button>
    </div>

    <div class="m-i18n--overlay"></div>
  </div>   
</div>
    
<div class="m-monetization--marketing-contents mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
    <i class="material-icons mdl-color-text--blue-grey-700">language</i>
    <h2>English</h2>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
    <i class="material-icons mdl-color-text--blue-grey-700">language</i>
    <h2>Spanish</h2>
  </div>
</div>

<m-footer></m-footer>
    